@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.heading {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 10px;
    color: blueviolet;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90vw;
}

.panel {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 80vh;
    margin: 10px;
    border-radius: 50px;
    cursor: pointer;
    position: relative;
    flex: 0.5;
    transition: flex 0.7s ease-in;
}

.panel h3 {
    color: #F5F5F5;
    font-size: 1rem;
    position: absolute;
    bottom: 20px;
    left: 20px;
    margin: 0;
    opacity: 0;
}

.panel.active {
    flex: 5;
}

.panel.active h3 {
    opacity: 1;
    transition: opacity 0.3s ease-in 0.2s;
}

@media (max-width: 480px) {
    .heading {
        font-size: 20px;
    }

    .panel {
        flex: 0.1;
    }

    .panel.active {
        flex: 1;
    }

    .panel:nth-of-type(4),
    .panel:nth-of-type(5),
    .panel:nth-of-type(6) {
        display: none;
    }
}
