@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

:root {
    --light-color: #d8d8d8;
    --dark-color: #312e2e;
    --heading-color: #461d89;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--light-color);
    color: var(--light-color);
}
body {
    font-family: "Poppins", sans-serif;
    min-height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.heading {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 10px;
    color: var(--heading-color);
}
