@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

:root {
    --light-color: #f9f7f7;
    --dark-color: #232020;
    --heading-color: #461d89;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Poppins", sans-serif;
    width: 100vw;
    min-height: 100vh;
    overflow: hidden;
    background-color: var(--light-color);
    color: var(--dark-color);
}

.container {
    width: 75%;
    height: auto;
    margin: 30px auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.heading {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 10px;
    color: var(--heading-color);
}
